@keyframes slides-reverse {
  from{
      transform: translateX(-100%);
  }
  to{
      transform: translateX(0);
  }
}

.showcase-box{
  overflow: hidden;
  white-space: nowrap;
}

.showcase-box:active .showcase-images-reverse{
  cursor:pointer;
  animation-play-state: paused;
}

.showcase-images-reverse{
  width:2600px;
  height:325px;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;

  overflow: hidden;
  animation: 50s slides-reverse infinite linear;
}

.showcase-image{
  width: 250px;
  height: auto;
  object-fit: cover;
}

@media (min-width: 768px){
  .showcase-box:hover .showcase-images-reverse{
    cursor:pointer;
    animation-play-state: paused;
  }
}