@keyframes scroll-left {
  0% {
    transform: translateX(100dvw);
  }
  100% {
    transform: translateX(-100dvw); /* adjust % to how far you need to shift */
  }
}

.carousel-content-1, .carousel-content-2, .carousel-content-3, .carousel-content-4 {
  display: flex;
  /* run the scroll-left animation over 10 seconds,
     at a constant speed, looping forever */
  animation: scroll-left 10s linear infinite;
}

.card-sample{
    margin-right:10px;
    border:1px solid red;
}