.navigation-bar{
    width:100%;
    height:10vh;
    padding: 10px 0px;
}

.navigation-lists{
    width:100%;
    height:100%;

    display:flex;
    justify-content: space-around;
    align-items: center;
}

/* .navigation-lists:hover> :not(:hover) .navigation-text{
    cursor: pointer;
    color:grey;
} */

.navigation-list{
    width:100%;
    height:100%;

    display:flex;
    justify-content: center;
    align-items: center;
}

.navigation-list a{
    font-weight: normal;
    font-size: 1.5vw;
}

.navigation-list a:hover{
    color:grey;
    cursor: pointer;
}